<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AirPortOpenBSD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zhong.${PRODUCT_NAME}</string>
			<key>IFConfig</key>
			<array>
				<dict>
					<key>NWID</key>
					<string>FAST_88FED0</string>
					<key>WPA/WPA2</key>
					<true/>
					<key>WPAKEY</key>
					<string>12345678</string>
				</dict>
			</array>
			<key>IFConfig - 2</key>
			<array>
				<dict>
					<key>NWID</key>
					<string>21vianet-pre</string>
					<key>WPA/WPA2</key>
					<true/>
					<key>WPAKEY</key>
					<string>ceshibuhuanjing</string>
				</dict>
				<dict>
					<key>NWID</key>
					<string>FAST_88FED0</string>
					<key>WPA/WPA2</key>
					<true/>
					<key>WPAKEY</key>
					<string>126abc!@ABC</string>
				</dict>
				<dict>
					<key>NWID</key>
					<string>KIMAX</string>
					<key>WPA/WPA2</key>
					<true/>
					<key>WPAKEY</key>
					<string>126abc!@ABC</string>
				</dict>
				<dict>
					<key>NWID</key>
					<string>hkx123</string>
					<key>WPA/WPA2</key>
					<true/>
					<key>WPAKEY</key>
					<string>hkx410095</string>
				</dict>
				<dict>
					<key>NWID</key>
					<string>iPhone</string>
					<key>WPA/WPA2</key>
					<true/>
					<key>WPAKEY</key>
					<string>hkx410095</string>
				</dict>
				<dict>
					<key>NWID</key>
					<string>Starbucks</string>
					<key>WPA/WPA2</key>
					<false/>
					<key>WPAKEY</key>
					<string></string>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AirPortOpenBSD</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Zhong-Mac. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>3.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>13.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
